<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.papermind.ssh-tunnel</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/ssh</string>
    <string>-N</string>
    <string>-i</string>
    <string>/Users/admin/.ssh/id_rsa</string>
    <string>-o</string>
    <string>HostKeyAlias=papermind-pi-lan</string>
    <string>-o</string>
    <string>StrictHostKeyChecking=accept-new</string>
    <string>-o</string>
    <string>BatchMode=yes</string>
    <string>-o</string>
    <string>ExitOnForwardFailure=yes</string>
    <string>-o</string>
    <string>ConnectTimeout=15</string>
    <string>-o</string>
    <string>ServerAliveInterval=30</string>
    <string>-o</string>
    <string>ServerAliveCountMax=3</string>
    <string>-o</string>
    <string>TCPKeepAlive=yes</string>
    <string>-L</string>
    <string>127.0.0.1:2222:192.168.178.92:22</string>
    <string>jan@192.168.178.92</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>15</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/tmp/papermind-ssh-tunnel.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/papermind-ssh-tunnel.error.log</string>
</dict>
</plist>
